body {
    background #EFEFEF;
    font-family: Arial;
}
h1 {
    font-size: 20px;
}
a {
    color: #000000
    text-decoration : underline;
}
a : hover {
    color: #000000
    text-decoration: none;
}
